#points-row {
    text-align: center;
    font-family: 'Calibri';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2.5%;
}
#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    max-width: 800px;
    margin: auto;
  }

.card {
    aspect-ratio: 1 / 1;    
    background: #4f46e5;
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
  }